extends layout

block content
  div
    h3#first-title blocks
    div#block-select-container
      select#one-page-select.form-control
        each val in pagesList
          option(value=val, selected=(val === blocksPerPage)) #{val}개 씩 보기

  table.table
    thead
      tr
        th Number
        th Miner
        th Timestamp
        th # Tx
        th # Uncles
    tbody
      for block in blocks
        tr
          td
            a(href="/block/" + block.number) #{block.number}
          td 
            a(href="/account/" + block.author) #{nameformatter.format(block.author)}
          td #{moment.unix(block.timestamp).format()}
          td #{block.transactions.length}
          td #{block.uncles.length}
  if pages > 0
    div.text-cetner(align="center")      
      ul.pagination
        if currentPageNumber === 1
          li.disabled
            a First          
        else          
          li
            a(href="/?page=1&blocks=" + blocksPerPage) First
        // 나머지가 0인 순간에 다음 페이지로 넘어가서 강제로 -1해서 계산
        - var adjustPageNumber = currentPageNumber - 1;
        - var quo = Math.floor(adjustPageNumber/paginationWidth);
        - var num = quo * paginationWidth + 1; 

        if Math.floor(adjustPageNumber/paginationWidth)
          li 
            a(href="/?page="+ ((quo - 1) * paginationWidth + 1) + "&blocks=" + blocksPerPage) <         
        // 페이지의 시작 ex) page# 11 ~ 20 , 너비 10, 현재 11 => (13 quo 10 * 10 + 1) quo 는 몫을 구하는 연산자
        - var last = (quo + 1) * paginationWidth;
        while num <= last
          // 페이지의 끝
          if currentPageNumber === num
            li.active
              a #{num}
          else
            li
              a(href='/?page=' + num + "&blocks=" + blocksPerPage) #{num}
          - num++;
        if Math.floor(adjustPageNumber/paginationWidth) !== Math.floor((pages-1)/paginationWidth)
          li 
            a(href="/?page=" + (last + 1 )+ "&blocks=" + blocksPerPage) >         

        if currentPageNumber === pages
          li.disabled
            a Last (#{pages})
        else
          li
            a(href='/?page=' + pages + "&blocks=" + blocksPerPage) Last (#{pages})          
  h3 Transactions 
    small ocurred at this time
  if txs.length === 0
    p No transactions
  else
    table.table
      thead
        tr
          th Hash
          th From
          th To
          th Amount
      tbody
        for tx in txs
          tr
            td
              a(href="/tx/" + tx.hash) #{tx.hash.substr(0,10)}...
            td
              a(href="/account/" + tx.from) #{nameformatter.format(tx.from)}
            td
              if tx.to
                a(href="/account/" + tx.to) #{nameformatter.format(tx.to)}
              else
                | New Contract
            td #{ethformatter(tx.value)}

block extra_css
  link(rel='stylesheet', href='/stylesheets/index.css')
  link(rel='stylesheet', href='/stylesheets/fontawesome.css')

block extra_js
  script(src='/javascripts/index.js')
